@media screen and (max-width: 576px) {
    #header {
        position: inherit;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #home {
        padding-top: 0;
    }

    #header .img_from_col {
        height: 60px;
        background-position: 50%;
    }

    button.slick-prev, button.slick-next {
        display: none !important;

    }

    div.slick-current p {
        padding: 0;
    }

    .logo_img {
        margin-left: 0;
    }

    .logo-android {
        max-width: 300px;
        margin: 0 auto;
    }

    .projects-triangle {
        padding: 40px 0;
    }

    #contact {
        padding-top: 0;
    }

    .contact-send span {
        display: none;
    }

    .s-img {
        margin: 0;
    }

    .contact-send {
        max-width: 100px
    }

    .navclass {
        flex-direction: column;
    }

    .slicker-border {
        padding-bottom: 30px;
    }

   
}

@media screen and (max-width: 768px) {
    .home {
        padding: 150px 0 50px 0;
    }

    .projects {
        height: inherit;
    }

    p.project-description-text {
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
    }

    .header {
        margin-bottom: 30px;
    }

    .logo_img {
        margin-left: 0;
    }

    .navbar {
        justify-content: center;
        text-align: center;
    }

    .triangle-cont_1 img {
        max-width: 450px;
    }

    .triangle-cont_1 img {
        margin-top: 50px;
    }

    .triangle-cont_1, .triangle_3_col {
        text-align: center;
    }

    .contact-send {
        margin-bottom: 50px;
    }

    .also-find-text {
        display: block;
        text-align: center;
    }

    .social-media-images {
        display: block;
        text-align: center;
        margin-top: 30px;
    }

    .triangle_3_col {
        padding-bottom: 40px;
    }

    .find-me a {
        margin-left: 0;
        margin: 10px;
    }
}


@media screen and (max-width: 992px) {
    div.container {
        max-width: 100%;
    }

    div.slick-current p {
        display: block;
       
    }

    div.slick-current .google_button {
        display: inline-block;
        padding: 0;
    }

    button.slick-arrow {
        top: 50%;
    }
}

@media screen and (min-width: 992px) {
    div.slick-current + div p {
        display: block;
    }

    div.slick-current + div .google_button {
        display: inline-block;
        padding: 0;
    }

    div.slick-current + div {
        transform: scale(1.5);
    }
}


@media screen and (min-width: 1200px) {
    .container:not(.project_height) {
        max-width: 80%;
    }
}


@media only screen and (min-width: 768px) {
    .home_height, 
    #projects, 
    .contact_height {
        height: 100vh;
    }

    #home,
    #contact {
        height: 100%;
        align-items: center;
    }

    #contact{
        padding-top: 0;
    }
}



/*@media only screen and (min-width: 1440px) {
    .container {
        width: auto;
        height: auto;
    }
}*/


