*, p {
    margin: 0;
    padding: 0;
}


body {
    overflow-x: hidden;
}

@font-face {
    font-family: google-sans-cufonfonts;
    src: url(../font/ProductSans-Regular.ttf);
}


* {
    font-family: google-sans-cufonfonts;
}

@font-face {
    font-family: google-sans-cufonfonts-thin;
    src: url(../font/ProductSans-Thin.ttf);

}

.project-description-text {
    font-family: google-sans-cufonfonts-thin;
    font-weight: 100;
}

/*Header Nav*/

#main_nav {
    margin-right: 400px;
}

.navbar {
    justify-content: flex-end;
    transition-duration: 0.6s;
}

.nav {
    cursor: pointer;
}

.navbar.active {
    height: 100px;
}

.container {
    margin-bottom: 30px;
}

#header.projects-header {
    background-color: #1a1a18;
}

#header.projects-header .nav-link {
    color: white;
}

#header.projects-header .nav-link:after {
    background: white;
}

.header {
    transition-duration: .5s;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    position: fixed;
    background: white;
    z-index: 7;
    left: 0;
}

.logo_img {
    margin: 12px 25px;
}

.img_from_col {
    text-align: right;
    background: url(../img/logo.png) no-repeat 10%;
}

.projects-header .img_from_col {
    background: url(../img/logo-dark.png) no-repeat 10%;
}

.contacts-header .img_from_col {
    background: url(../img/logo-contacts.png) no-repeat 10%;
}


.navclass a {
    font-size: 18px;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    padding: 15px 20px;
    position: relative;
}

.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after {
    width: 100%;
    left: 0;
}

.nav-link:hover {
    color: #000000;
    opacity: 80%;
}

/*Home*/
.triangle-cont_1 img {
    width: 100%;
    margin-top: 50px;
}

.triangle-cont_1 h2 {
    margin: 0 0 50px 90px;
}

.android-cont {
    margin: 0 auto;
}

.logo-android img {
    width: 100%;
    max-width: 80%;
}

.logo-android {
    text-align: center;
}

/*Projects*/
.projects {
    background: #1a1a18;
    height: 780px;
}

.projects-slider img,
.projects-triangle img {
    width: 100%;
}

.projects-triangle {
    text-align: center;
}

.project-description {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.project-description-text {
    margin-bottom: 20px;
}

.triangle-cont_1 img, .triangle-cont_3 img {
    margin-bottom: 40px;
}


/*Slider*/

button.slick-prev.slick-arrow::before {
    content: url(../img/left.png);
    transition: .5s;
}

button.slick-prev {
    left: 0;
}

button.slick-next {
    right: 0;
}

.slick-next.slick-arrow::before {
    content: url(../img/right.png);
    transition: .5s;

}

.slick-active {
    transition-duration: .8s;
}

button.slick-arrow {
    z-index: 5;
    width: auto;
    height: auto;
    top: 60%;
}

.main {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.slider img {
    width: 160px;
    margin: 0 auto;
}

.project-description > p {
    display: none;
    text-align: justify;
    text-justify: inter-word;
    font-size: 11px;
    color: #ffffff;
}

.google_button {
    outline: none;
    display: none;
}

.google_button img {
    width: 100px;
}

h5 {
    color: #ffffff;
    padding: 10px;
}

div > a {
    text-decoration: none;
}

div.slick-track {
    position: relative;
    top: 50%;
    transform: translateY(-50%) !important;
}

.slick-list, .slider, .main {
    height: 100%;
}


/*Contact*/
#contact {
    padding-top: 120px;
}

.contact-form {
    margin: 0 auto;
    width: 70%;
}

.triangle-cont_3 img {
    max-width: 400px;
    width: 100%;
    margin-left: 20px;
}

.contact-form label {
    border: none;
    width: 100%;
    outline: none;
    margin-top: 5px;
}

.contact-message {
    resize: none;
    padding-top: 5px;
    margin-top: 5px;
    height: 170px;
    border: 0;
    width: 100%;
    outline: 0px;
}

.triangle_3_col img {
    width: 100%;
}

*:focus {
    outline: none;
}

.pure-material-textfield-outlined {
    --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 231, 169, 66));
    position: relative;
    display: inline-block;
    padding-top: 6px;
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}

/* Input, Textarea */
.pure-material-textfield-outlined > input,
.pure-material-textfield-outlined > textarea {
    box-sizing: border-box;
    margin: 0;
    border: solid 1px; /* Safari */
    border-color: #1a1a18;
    border-top-color: transparent;
    border-radius: 4px;
    padding: 15px 13px 15px;
    width: 100%;
    height: inherit;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--pure-material-primary-rgb, 26, 26, 24));
    transition: border 0.2s, box-shadow 0.2s;

}

/* Span */
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    width: 100%;
    max-height: 100%;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    font-size: 75%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::before,
.pure-material-textfield-outlined > textarea + span::after {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 6px;
    border-top: solid 1px;
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    min-width: 10px;
    height: 8px;
    pointer-events: none;
    box-shadow: inset 0 1px transparent;
    transition: border-color 0.2s, box-shadow 0.2s;
    outline: none;
}

.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > textarea + span::before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: 4px 0;
}

.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius: 0 4px;
}

/* Placeholder-shown */
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0));
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 68px;
    outline: none;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
    border-top-color: transparent;
    outline: none;
}

/* Focus */
.pure-material-textfield-outlined > input:focus,
.pure-material-textfield-outlined > textarea:focus {
    border-color: rgb(var(--pure-material-primary-rgb, 231, 169, 66));
    border-top-color: transparent;
    box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
    outline: none;
}

.pure-material-textfield-outlined > input:focus + span,
.pure-material-textfield-outlined > textarea:focus + span {
    color: rgb(var(--pure-material-primary-rgb, 231, 169, 66));
}

.pure-material-textfield-outlined > input:focus + span::before,
.pure-material-textfield-outlined > input:focus + span::after,
.pure-material-textfield-outlined > textarea:focus + span::before,
.pure-material-textfield-outlined > textarea:focus + span::after {
    border-top-color: var(--pure-material-safari-helper1) !important;
    box-shadow: inset 0 1px var(--pure-material-safari-helper1);
}

/* Disabled */
.pure-material-textfield-outlined > input:disabled,
.pure-material-textfield-outlined > input:disabled + span,
.pure-material-textfield-outlined > textarea:disabled,
.pure-material-textfield-outlined > textarea:disabled + span {
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0)) !important;
    border-top-color: transparent !important;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    pointer-events: none;
}

.pure-material-textfield-outlined > input:disabled + span::before,
.pure-material-textfield-outlined > input:disabled + span::after,
.pure-material-textfield-outlined > textarea:disabled + span::before,
.pure-material-textfield-outlined > textarea:disabled + span::after {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
    border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance:none) {
        .pure-material-textfield-outlined > input,
        .pure-material-textfield-outlined > input + span,
        .pure-material-textfield-outlined > textarea,
        .pure-material-textfield-outlined > textarea + span,
        .pure-material-textfield-outlined > input + span::before,
        .pure-material-textfield-outlined > input + span::after,
        .pure-material-textfield-outlined > textarea + span::before,
        .pure-material-textfield-outlined > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}


.contact-send {
    max-width: 170px;
    width: 100%;
    text-align: center;
    background-color: #1a1a18;
    border-radius: 10px;
    padding: 10px 0px;
    color: #e7a942;
    font-size: 18px;
    /* font-family: "Google Sans", Verdana, Sans-serif;*/
    outline: none !important;
    border: none;
}

.s-img {
    margin-right: 25px;
}

.contact-form-submit {
    text-align: center;
    margin-top: 60px;
}

.find-me {
    display: inline-block;
    font-size: 18px;
    /*font-family: "Google Sans", Verdana, Sans-serif;*/
}

.find-me a {
    display: inline-block;
    margin-left: 20px;
    border-radius: 50%;
}

.soc-img {
    width: 50px;
}

.social-media-images {
    display: inline;
}

.also-find-text {
    display: inline;
}

.find-me a:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .5);
    transform: scale(1.2);
    transition-duration: .5s;
}

/*Footer*/

footer {
    width: 100%;
    background-color: #1a1a18;
     
}

.footer-cont {
    text-align: center;
    padding: 20px 0;
}

.f-text {
    font-size: 16px;
    /*font-family: "Google Sans", Verdana, Sans-serif;*/
    display: inline;
    color: #f1f1f1;
}


.footer-logo {
    width: 20px;
}

.Rob-Lev {
    font-weight: 700;
}

.dot {
    color: #dca62a;
}

div.footer-cont > p {
    vertical-align: middle;
}

#scroll-to-top {
    opacity: 0; /* Hidden by default */
    visibility: hidden;
    width: 50px;
    height: 50px;
    background-color: #FF9800;
    text-align: center;
    border-radius: 50%;
    border: 0;
    outline: none;
    position: fixed;
    bottom: 45px;
    right: 45px;
    z-index: 1000;
    transition: 0.8s;
}


#scroll-to-top:hover {
    cursor: pointer;
    background-color: #333;
}


#scroll-to-top.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}


#scroll-to-top::after {
    content: url(../img/up.png);
    font-size: 2em;
}

#scroll-to-top:active {
    background-color: #555;
}

html {
    scroll-behavior: smooth;
}
